.c-size{
    font-size: 6rem;
}

#html-logo{
    color: #f06529;
}

#css-logo{
    color: #2965f1;
}

#js-logo{
    color: #f0db4f;
}

#bootstrap-logo{
    color: #563d7c;
}

#angular-logo{
    color: #dd1b16;
}

#git-logo{
    color: #F1502F;
}

#github-logo{
    color: black;
}