<section id="hero-section">
    <div class="d-flex p-4">
        <div class="col p-2">
            <h1>Hello All! I'm Surendar!</h1>
        
            <p class="fs-5 lh-lg">With a strong passion for web development and a commitment to deliverin high-quality solutions, I bring proficiency in HTML, CSS, JavaScript, and Angular. My experience includes crafting dynamic, user-friendly websites and applications that prioritize both performance and design. I excel in collaborative environments, contributing to both product design and effective problem-solving. Eager to learn and adapt, I am dedicated to making valuable contributions to diverse projects, always striving to enhance user experiences through clean and efficient code</p>
        </div>
        <div class="col">
            <div class="h-100 w-100">
                <img class="w-100 h-100 object-fit-contain" src="images/image1.gif" alt="">
            </div>
        </div>
    </div>
</section>
<section id="what-i-do">
    <div class="p-4">
        <h2 class="text-center">What I Do?</h2>
        <div class="d-flex">
            <div class="col">
                <div class="w-100">
                    <img class=" w-100 object-fit-contain" src="images/Data_Analysis.svg" alt="">
                </div>
            </div>
            <div class="col p-5">
                <p>As a web developer, I specialize in:</p>
                <dl>
                    <dt>Front-End Development:</dt>
                    <dd>Building responsive websites with HTML, CSS, and JavaScript that look good and work well.</dd>
                    <dt>Single-Page Applications (SPAs):</dt>
                    <dd>Using Angular to create fast and smooth web apps that make navigation easy.</dd>
                    <dt>UI/UX Design:</dt>
                    <dd>Designing user-friendly interfaces by understanding what users need.</dd>
                    <dt>Cross-Browser Compatibility:</dt>
                    <dd>Making sure websites work well on all browsers and devices.</dd>
                    <dt>Version Control:</dt>
                    <dd>Using Git to keep track of changes and work effectively with other developers.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="web-development">
    <div class="d-flex px-4 mt-2 mb-4">
        <div class="col-5">
            <h2 class="text-center">Web Development</h2>
            <ul class="list-unstyled d-flex flex-wrap justify-content-center px-4">
                <li class="c-size px-2" id="html-logo"><i class="fa-brands fa-html5"></i></li>
                <li class="c-size px-2" id="css-logo"><i class="fa-brands fa-css3-alt"></i></li>
                <li class="c-size px-2" id="js-logo"><i class="fa-brands fa-square-js"></i></li>
                <li class="c-size px-2" id="bootstrap-logo"><i class="fa-brands fa-bootstrap"></i></li>
                <li class="c-size px-2" id="angular-logo"><i class="fa-brands fa-angular"></i></li>
                <li class="c-size px-2" id="git-logo"><i class="fa-brands fa-git-alt"></i></li>
                <li class="c-size px-2" id="github-logo"><i class="fa-brands fa-github"></i></li>
            </ul>
            <dl>
                <dd>* Building Fully responsive website frontend using HTML, CSS, Bootstrap and Javascript.</dd>
                <dd>* As of now I have knowledge only of frontend but in near future I will learn more skills and excited to explore React, NodeJS, Django, Flask and many more.</dd>
            </dl>
        </div>
        <div class="col-7">
            <div class="h-100">
                <img class="w-100 h-100 object-fit-contain" src="images/website.svg" alt="">
            </div>
        </div>
    </div>
</section>